## Importamos las librerías

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_curve, auc

## CArgamos el dataset

In [40]:
df = pd.read_csv("Customer_Behaviour.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

## Limpiamos el dataset

In [41]:
df = df.drop(columns=["User ID"])
label_encoder = LabelEncoder()
df["Gender"] = label_encoder.fit_transform(df["Gender"])
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

## Definimos las variables, predictora (X) y objetivo (y)

In [42]:
X = df.drop(columns=["Purchased"])
y = df["Purchased"]

## Escalamos la variable predictora (X)

In [43]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

## Definimos los conjuntos de entranamieto y prueba

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
print(f"\nTamaño del conjunto de entrenamiento: {X_train.shape[0]} muestras")
print(f"Tamaño del conjunto de prueba: {X_test.shape[0]} muestras")

Tamaño del conjunto de entrenamiento: 320 muestras
Tamaño del conjunto de prueba: 80 muestras

## Entrenamos el modelo con Naive Bayes GaussianNB

In [45]:
bayes_gaussian = GaussianNB(var_smoothing=1e-9)
bayes_gaussian.fit(X_train, y_train)
y_pred =bayes_gaussian.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.9375

## Entrenamos el modelo con Naive Bayes BernoulliNB

In [38]:
# Crear y entrenar el modelo
bayes_bernoulli = BernoulliNB()
bayes_bernoulli.fit(X_train, y_train)

# Predecir
y_pred_bernoulli = bayes_bernoulli.predict(X_test)

# Calcular precisión
accuracy_bernoulli = accuracy_score(y_test, y_pred_bernoulli)
print("Precisión con BernoulliNB:", accuracy_bernoulli)

Precisión con BernoulliNB: 0.7875