# Tarea Clustering
## Ralphy N√∫√±ez Mercado

### ‚¨áÔ∏è Imports necesarios

In [62]:
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import OneHotEncoder

### ‚åõ Preparar dataset

In [63]:
df = pd.read_csv('shopping_trends.csv')

df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [64]:
df.columns=['ID','Edad','Genero','Objeto Comprado','Categoria','Precio (USD)','Localizacion','Talla','Color','Temporada','Calificacion de la rese√±a','Estado de la subscripcion','Metodo de pago','Tipo de envio','Descuento aplicado','Uso codigo promocional','Compras anteriores','Metodo de pago preferido','Frecuencia de compra']

df

,ID,Edad,Genero,Objeto Comprado,Categoria,Precio (USD),Localizacion,Talla,Color,Temporada,Calificacion de la rese√±a,Estado de la subscripcion,Metodo de pago,Tipo de envio,Descuento aplicado,Uso codigo promocional,Compras anteriores,Metodo de pago preferido,Frecuencia de compra
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [65]:
df.describe()

,ID,Edad,Precio (USD),Calificacion de la rese√±a,Compras anteriores
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

### üîé Buscnar valores nulos

In [66]:
df.isnull().sum()

ID                           0
Edad                         0
Genero                       0
Objeto Comprado              0
Categoria                    0
Precio (USD)                 0
Localizacion                 0
Talla                        0
Color                        0
Temporada                    0
Calificacion de la rese√±a    0
Estado de la subscripcion    0
Metodo de pago               0
Tipo de envio                0
Descuento aplicado           0
Uso codigo promocional       0
Compras anteriores           0
Metodo de pago preferido     0
Frecuencia de compra         0
dtype: int64

In [67]:
df.duplicated().sum()

np.int64(0)

In [68]:
# Funci√≥n para aplicar el OneHotEncoder
def encoder(columna, df):
    encoder = OneHotEncoder()

    valores = encoder.fit_transform(df[[columna]])
    columnas = encoder.get_feature_names_out([columna])
    encoded_df = pd.DataFrame(valores.toarray(), columns=columnas)

    df = pd.concat([df, encoded_df], axis=1)
    df = df.drop(columns=[columna])
    return df



columnas = ['Genero','Objeto Comprado','Categoria','Localizacion','Talla','Color','Temporada','Estado de la subscripcion','Metodo de pago','Tipo de envio','Descuento aplicado','Uso codigo promocional','Metodo de pago preferido','Frecuencia de compra']

for columna in columnas:
     df = encoder(columna, df)


df

,ID,Edad,Precio (USD),Calificacion de la rese√±a,Compras anteriores,Genero_Female,Genero_Male,Objeto Comprado_Backpack,Objeto Comprado_Belt,Objeto Comprado_Blouse,...,Metodo de pago preferido_Debit Card,Metodo de pago preferido_PayPal,Metodo de pago preferido_Venmo,Frecuencia de compra_Annually,Frecuencia de compra_Bi-Weekly,Frecuencia de compra_Every 3 Months,Frecuencia de compra_Fortnightly,Frecuencia de compra_Monthly,Frecuencia de compra_Quarterly,Frecuencia de compra_Weekly
0,1,55,53,3.1,14,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2,19,64,3.1,2,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3,50,73,3.1,23,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,21,90,3.5,49,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,5,45,49,2.7,31,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,28,4.2,32,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3896,3897,52,49,4.5,41,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3897,3898,46,33,2.9,24,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3898,3899,44,77,3.8,24,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3899,3900,52,81,3.1,33,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0